/* بشكل افتراضي، العنصر يظهر */
ul {
  display: block;
}

/* إذا كان العرض 768 بكسل أو أقل (شاشة هاتف) يتم إخفاء العنصر */
@media (max-width: 768px) {
  ul {
    display: none;
  }
}

ul {
  list-style-type: none;         /* إزالة النقاط */
  padding: 10px;                 /* مسافة داخلية للقائمة */
  margin: 0 left;                /* توسيط القائمة */
  width: fit-content;            /* تضييق العرض حسب المحتوى */
  border: 1px solid #dae4cf;     /* تحديد إطار للقائمة */
  background-color: #f9f9f9;     /* خلفية خفيفة */
  border-radius: 8px;            /* زوايا دائرية */
  color: #333;                   /* لون النص العام */
}

li {
  margin-bottom: 10px;           /* مسافة بين العناصر */
  text-align: center;            /* توسيط المحتوى داخل العنصر */
}

a {
  display: block;                /* جعل الرابط يأخذ كامل مساحة العنصر */
  padding: 8px;                  /* مسافة داخلية للرابط */
  text-decoration: none;         /* إزالة الخط السفلي */
  transition: background-color 0.3s;
  border-radius: 6px;
}

a:hover {
  background-color: #e2e8d5;     /* تأثير عند التمرير */
}

a img {
  width: 24px;                   /* حجم الأيقونة */
  height: auto;
  display: inline-block;
}
